.profile{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 30px;
}

.profile .inner__profile{
display: flex;
align-items: center;
}

.profile p {
margin-top: 0px !important;
margin-bottom: 0px !important;
margin-left: 8px;
}