html {
  background-color: #000000;
  color: white;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  /* .preloader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.4rem;
      background-image: linear-gradient(to right, #ff3333, #33ff33, #3333ff);
      animation: hue 2s linear infinite;
    }

    @keyframes hue {
      0% {
        filter: hue-rotate(0);
      }

      50% {
        filter: hue-rotate(100deg);
      }

      100% {
        filter: hue-rotate(0);
      }
    } */